/** Navbar and logo css*/
#navbarPrimary {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
#logoName {
    color: green;
    letter-spacing: 1px;
    font-size: xx-large;
}
/** navbar dropdown css*/
.dropdownButton {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}  
.dropdown {
    position: relative;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    z-index: 1;
    right: 0;
}
.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdownButton {
    background-color: #1b421c;
}
/** Card css*/
#mainCard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#teamCard {
    border: solid 2px green;
    margin-bottom: 5px;
}
#teamIcon {
    padding:.25em;
    height: 7em;
    width: 7em;
    align-self: center;
    border-radius: 3em;
}
#teamText0,
#teamText1,
#teamText2,
#teamText3,
#teamText4 {
    text-align: left;
}
#teamIN {
    display: flex;
    justify-content: start;
}
#teamMem {
    padding-top: 1.5em;
}

footer.footer {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
.footer a {
    color: #1b421c;
  }
/** Footer */
#footerNote {
    font-size: x-small;
}

#doomsDayBtn {
    border: none;
    background-color: rgb(35, 192, 14);
}

/** Doomsday CSS */
#doomsDayL {
    border: black solid 2px;
    border-radius: 5px;
    background-color: red;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hidden{
    display: none;
}
#doomExplosion {
    position: absolute;
    margin: auto;
    width: 75%;
}