#navbarPrimary {
    display: flex;
    justify-content: space-between;
}
.dropdownButton {
    background-color: greenyellow;
    color: darkgreen;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}  
.dropdown {
    position: relative;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    z-index: 1;
    right: 0;
}
.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdownButton {
    background-color: #1b421c;
}
#listButtons {
    display: flex;
}