/** Navbar and logo css*/
#navbarPrimary {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
#logoName {
    color: green;
    letter-spacing: 1px;
    font-size: xx-large;
}
/** navbar dropdown css*/
.dropdownButton {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}  
.dropdown {
    position: relative;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    z-index: 1;
    right: 0;
}
.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdownButton {
    background-color: #1b421c;
}

/** Header */
header.masthead {
    position: relative;
    background: url("image/splash-back.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 30px;
}
/**.mb-4 {
    text-dec;
}*/


/** Card css*/
#mainCard {
    text-align: center;
    /**width: fit-content; */
    /**height: fit-content;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#listCard {
    text-align: center;
    height: fit-content;
    /** width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: lightgreen solid;
}
#heading1 {
    padding-top: 5px;
    margin-bottom: 0px;
}
#userName {
    color: black;
}

/** Buttons css */
#locationButtons {
    margin: 10px;
}
#listButton {
    margin: 10px;
}
#removeButton { 
    margin:none;
    padding: none;
}
.listNameBtn {
    text-decoration: none;
    border: none;
    background-color: white;
}

/** Footer */
#footerNote {
    font-size: x-small;
}
#doomsDayBtn {
    background-color: white;
    text-decoration: underline;
    border: none;
    padding: none;
    margin: none;
}

/** Doomsday css */
#doomsDayL {
    border: black solid 2px;
    border-radius: 5px;
    background-color: red;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hidden{
    display: none;
}
#doomExplosion {
    position: absolute;
    margin: auto;
    width: 75%;
}