body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  h1,
  h2 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }


  a{
    color:white;
  }

  li a{

    color:black
  }
  /* header */

  header.masthead {
    position: relative;
    background: url("image/splash-back.jpeg") no-repeat center center;
    background-size: cover;
  }
  

  /* header overlay  */
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  

   /* Only desktop view now, add more mobie view -  tabalt view  */

  @media (min-width: 400px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h3 {
      font-size: 3rem;
    }
    .firebaseui-auth-container{
      font-size: 2rem;
    }
  }
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }

  
  /*
  @media (min-width: 400px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  */
  

  .features-icons {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .features-icons .features-icons-item {
    max-width: 300px;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 110px;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 70px;
  }
  
  footer.footer {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  