/** Navbar and logo css*/
#navbarPrimary {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
#logoName {
  color: green;
  letter-spacing: 1px;
  font-size: xx-large;
}
/** navbar dropdown css*/
.dropdownButton {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}  
.dropdown {
  position: relative;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: green;
  min-width: 160px;
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdownButton {
  background-color: #1b421c;
}
 


body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  h1,
  h2 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }


  a{
    color:white;
  }

  li a{

    color:black
  }
  /* header */

  header.masthead {
    position: relative;
    background: url("image/splash-back.jpeg") no-repeat center center;
    background-size: cover;
  }
  

  /* header overlay  */
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  footer.footer {
    padding-top: 10px;
    padding-bottom: 30px;
  }


  header.masthead {
    padding-top: 11rem;
    padding-bottom:11rem;
  }

  header.masthead h3 {
    font-size: 5rem;
  }


    .features-icons {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    
    .features-icons .features-icons-item {
      max-width: 300px;
    }
    
    .features-icons .features-icons-item .features-icons-icon {
      height: 100px;
    }
    
    .features-icons .features-icons-item .features-icons-icon i {
      font-size: 70px;
    }


   /* mobie view 0~426px  */

   @media all and (max-width: 426px) {

    header.masthead {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    header.masthead h3 {
      font-size: 2.5rem;
    }
    .firebaseui-auth-container{
      font-size: 2rem;
    }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }

  .features-icons {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .features-icons .features-icons-item {
    max-width: 280px;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 90px;
  }
  
   /* icon size  */
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 60px;
  }
  
  h2{

    font-size: 25px;
  }

  h3{
    padding-top: 20px;
  }

   }