h1, h2 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white;
  }


  footer.footer {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
   /* header */

   header.masthead {
    position: relative;
    background: url("image/splash-back.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 30px;
  }
  

  /* header overlay  */
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  /** Modal css*/
  .modal-title {
    display: flex;
    justify-content: space-between;
  }
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
  }
  #chooseStoreBtn {
    border: solid grey;
  }
  #chooseStoreBtn:hover {
    background-color: green;
  }
  #modalCloseBtn {
    border: solid grey;
  }
  #modalCloseBtn:hover {
    background-color: lightgray;
  }