body {
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:black;
  z-index: 9
}

#loader {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  border: calc(200px / 10) solid #ddd;
  border-top: 20px solid rgba(255,29,94,1);
  border-radius: 100%;
  box-shadow: 0px 0px 5px inset #ccc;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/** Navbar and logo css*/
#navbarPrimary {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
#logoName {
  color: green;
  letter-spacing: 1px;
  font-size: xx-large;
}
/** navbar dropdown css*/
.dropdownButton {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}  
.dropdown {
  position: relative;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: green;
  min-width: 160px;
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdownButton {
  background-color: #1b421c;
}

#storeHeader1 , #storeHeader2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1, h2 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
}

footer.footer {
  padding-top: 10px;
  padding-bottom: 30px;
}


/* header */

header.masthead {
  position: relative;
  background: url("image/splash-back.jpeg") no-repeat center center;
  background-size: cover;
  padding-top: 30px;
}

/* header overlay  */

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

/** Modal css*/

.modal-header {
  display: flex;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

#chooseStoreBtn {
  border: solid grey;
}

#chooseStoreBtn:hover {
  background-color: green;
}

#modalCloseBtn {
  border: solid grey;
}

#modalCloseBtn:hover {
  background-color: lightgray;
}

#yesAva:hover {
  background-color: rgb(26, 180, 26);
}

#noAva:hover {
  background-color: red;
}

#medAva1 {
  background-color: orange;
}

#noAva1 {
  background-color: red;
}

#yesAva1 {
  background-color: rgb(26, 180, 26);
}

.storeItemAvailiablity {
  padding: 10px;
}


/* moblie view 0~426px */
@media all and (max-width:426px) {
  header.masthead h1 {
    font-size: 2rem;
  }
  header.masthead h2 {
    font-size: 1.5rem;
  }
  .card {
    padding: 9%;
  }
}
#stores {
  justify-content: center;
}
#noListContainer{
  justify-content: center;
  border-radius: 1em;
  padding:3em;
  color: aliceblue;
  background-color: green;
}

.fullyStocked{
  background-image: linear-gradient(rgb(222, 255, 212), rgb(255, 255, 255));
  border-radius: .25em;
  box-shadow: 0em 0em .25em .1em rgb(112, 138, 86);
  margin-bottom: 40px;
}
.halfStocked{
  background-image: linear-gradient(rgb(255, 251, 212), rgb(255, 255, 255) );
  border-radius: .25em;
  box-shadow: 0em 0em .25em .1em rgb(138, 130, 86);
  margin-bottom: 40px;
}
.notStocked{
  background-image: linear-gradient( rgb(255, 212, 212), rgb(255, 255, 255));
  border-radius: .25em;
  box-shadow: 0em 0em .25em .1em rgb(138, 86, 86);
  margin-bottom: 40px;
}
.imgContain {
  padding: 1em;
}
